<form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)">
    <label for="name">Name: </label>
    <input type="text" id="title" name="title" required>
    <br>
  
    <label for="ingredients">Ingredients: </label>
    <textarea id="ingredients" name="ingredients" required></textarea>
    <br>

    <label for="prep time in minutes">PrepTimeMin: </label>
    <textarea id="prep time" name="prep time" required></textarea>
    <br>

    <label for="cooking time in minutes">CookingTimeMin: </label>
    <textarea id="cooking time" name="cooking time" required></textarea>
    <br>

    <label for="yield w/o units">Yield: </label>
    <textarea id="yield" name="yield" required></textarea>
    <br>

    <label for="yield unit of measurement">YieldUnit: </label>
    <textarea id="yield unit" name="yield unit" required></textarea>
    <br>

    <label for="prep instructions">PrepInst: </label>
    <textarea id="prep instructions" name="prep instructions" required></textarea>
    <br>

    <label for="cooking instructions">CookInst: </label>
    <textarea id="cooking instructions" name="cooking instructions" required></textarea>
    <br><br>

    <button type="submit">Submit</button>
  </form>
