<body>
<div class="container">
    <app-side-navbar class="sidenav"></app-side-navbar>
    <div class="home-container">
        <div class="banner-container">
            <img class="banner" src="/assets/homePageBanner.jpg" alt="BiteBook">
            <div class="banner-text-overlay">
                <h1 class="header-text">Welcome to Bite Book</h1>
                <h5 class="banner-text">Your go-to site for personal meal planning.</h5>
                <a routerLink = "/login"><button class="button" type="button">Get Started</button></a>
            </div>
        </div>
        <div class="text-container">
            <p class="body-text">There are several reasons why meal planning can be beneficial:</p>
            <ol class="body-text">
                <li><b>Saves time:</b> Meal planning can save you time by allowing you to prepare meals in advance and reducing the need for frequent trips to the grocery store or ordering takeout.</li>
                <li><b>Saves money:</b> By planning your meals in advance, you can make more cost-effective choices, reduce food waste, and avoid impulse buying.</li>                    
                <li><b>Improves nutrition:</b> Planning your meals in advance can help you make healthier food choices and ensure that you are getting a balanced diet.</li>
                <li><b>Reduces stress:</b> Knowing what you are going to eat ahead of time can reduce the stress of mealtime decisions and help you avoid last-minute scrambling.</li>
                <li><b>Increases variety:</b> Meal planning allows you to be more intentional about trying new recipes and incorporating a variety of foods into your diet.</li>
            </ol>
            <p class="body-text">Overall, meal planning can be a great tool to help you save time and money, eat healthier, and reduce stress around mealtime.</p>
        </div>
    </div>
</div>
</body>
