<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened ">close</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class = "sidenav-menu-button">
      <mat-icon>menu_book</mat-icon>
      <a routerLink = "/recipes">Your Recipes</a>
    </button>

    <button mat-button class = "sidenav-menu-button">
      <mat-icon>outdoor_grill</mat-icon>
      <a routerLink = "/recipe-upload">Create A Recipe</a>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="sidenav-menu-button">
      <mat-icon>badge</mat-icon>
      <span> Your Profile</span>
    </button>
  </mat-sidenav>
</mat-sidenav-container>
