html{
    height: 100%;
}
.container{
    display:grid;
    flex-flow:column;
    grid-template-columns: max-content;
    height:100%;
    margin:0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    min-width: 100%;
    background: #FEFAE0;
}
.dashboard-container{
    grid-column: 2;
    justify-content: center;
    height: 100%;
    background-color: #FEFAE0;
}
.sidenav{
    grid-column: 1;
    width: 100%;
    padding: 0px;
}
.calendar-container{
    background-color: #FEFAE0;
}
.hidden{
    display:none;
}
.result{
    max-width:80px; 
}